.close_button {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}
.close_button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}
.close_button img{
    padding: 1px;
    width: 40px;
    height: 40px;
}

#feedback_content_active{
    animation: fadeIn 1s ease;
}
#motivation_content_active{
    animation: fadeIn 1s ease;
}
#swot_content_read{
    animation: fadeIn 1s ease;
}
#experience_content_active{
    animation: fadeIn 1s ease;
}
#first_content_active{
    animation: fadeIn 1s ease;
}
